<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Collegamento axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <title>Vue Email List</title>
    </head>
    <body>
        <div id="app">
            <!-- consegna -->
            <!-- <ul>
                <li v-for="item in randomEmail">
                    {{ item }}
                </li>
            </ul> -->

            <!-- bonus -->
            <ul v-show="randomEmail.length == 10">
                <li v-for="item in randomEmail">
                    {{ item }}
                </li>
            </ul>
        </div>

        <!-- COLEGAMENTO FILE JAVASCRIPT E VUE-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>